{% extends "layout.html" %}
{% block title %}Recorridos{% endblock %}
{% block head %}
    {{ super() }}
    <!-- letflet files-->
    <!-- <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" /> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" 
    crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    
   <!-- CSS and JS files for Search Box -->
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>

   <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <!-- Custom files-->
    <link rel="stylesheet" href="../../static/style.css" />
    <script type = "module" src="{{url_for('static', filename = 'index.js')}}"></script>
{% endblock %}
{% block content %}

<h1>Crear un recorrido de evacuación</h1>
<form class="form-user" action="{{ url_for('recorrido_create') }}" method="POST" id = "id-recorrido-form">
    <h4 style="color: rgb(214, 3, 3);">{{error_message}}</h4>
    <p>
        <label>Nombre<label></br>
        <input name="nombre" placeholder="Nombre"/>
    </p>
    <p>
        <label>Descripción<label></br>
        <input name="descripcion" placeholder="descripción"/>
    </p>
    <p>
        <label>Coordenadas<label></br>
        <input name="coordenadas" placeholder="'x,y'" pattern="\d+,\d+"/>
    </p>
    <p>
        <label>Estado<label></br>
        <select name='estado'>
            <option value=1>Publicado</option>
            <option value=0>Despublicado</option>
        </select>
    </p>
    <input type="text" name="lat" id = "lat" >
    <input type="text" name="lng" id = "lng" >
    
    <div class="map-container">
        <div id="mapid"></div>
    </div>
    <input type="submit" value="Crear">
    <button type="reset">Limpiar</button>
    </p>
</form>
<a href="{{ url_for('recorrido_index') }}" class="btn btn-outline-dark" style="width: 100px;
height: 50px;">Volver</a>
<!-- <script type="text/javascript">

    // This setup the leafmap object by linking the map() method to the map id (in <div> html element)
        var map = L.map('map').
       setView([-34.9187, -57.956],
       15);

    // Start adding controls as follow... L.controlName().addTo(map);

    // Control 1: This add the OpenStreetMap background tile
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


    // Control 2: This add a scale to the map
        L.control.scale().addTo(map);
        
    // Control 3: This add a Search bar
        var searchControl = new L.esri.Controls.Geosearch().addTo(map);

        var results = new L.LayerGroup().addTo(map);

          searchControl.on('results', function(data){
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
              results.addLayer(L.marker(data.results[i].latlng));
            }
          });
        
</script> -->
<!-- // <script>
    var map = L.map('map').
       setView([-34.9187, -57.956],
       15);
       L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
maxZoom: 18
}).addTo(map);
L.control.scale().addTo(map);
L.marker([-34.9187, -57.956],{draggable: true}).addTo(map).on('click', function(e) {
    console.log(e.latlng);
});
//   </script> -->
{% endblock %}