{% extends "layout.html" %}
{% block title %}Recorridos{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=AIzaSyDuLaeLfXME3VxmIr0nP4nj2Pb3WXV7ewU"></script>
        <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=AIzaSyDuLaeLfXME3VxmIr0nP4nj2Pb3WXV7ewU"></script>
        <script type="text/javascript">
            window.onload = function() {

                var map = L.map('mapid', {
                    layers: MQ.mapLayer(),
                    center: [40.731701, -73.993411],
                    zoom: 12
                });

                var dir = MQ.routing.directions();

                dir.route({
                    locations: [
                        'wood-ridge, nj',
                        'staten island, ny',
                        'queens, ny'
                    ]
                });

                CustomRouteLayer = MQ.Routing.RouteLayer.extend({
                    createStartMarker: function (location, stopNumber) {
                        var custom_icon;
                        var marker;

                        custom_icon = L.icon({
                            iconUrl: 'https://www.mapquestapi.com/staticmap/geticon?uri=poi-red_1.png',
                            iconSize: [20, 29],
                            iconAnchor: [10, 29],
                            popupAnchor: [0, -29]
                        });

                        marker = L.marker(location.latLng, {icon: custom_icon}).addTo(map);

                        return marker;
                    },

                    createEndMarker: function (location, stopNumber) {
                        var custom_icon;
                        var marker;

                        custom_icon = L.icon({
                            iconUrl: 'https://www.mapquestapi.com/staticmap/geticon?uri=poi-blue_1.png',
                            iconSize: [20, 29],
                            iconAnchor: [10, 29],
                            popupAnchor: [0, -29]
                        });

                        marker = L.marker(location.latLng, {icon: custom_icon}).addTo(map);

                        return marker;
                    }
                });

                map.addLayer(new CustomRouteLayer({
                    directions: dir,
                    fitBounds: true
                }));
            }
        </script>
        
{% endblock %}
{% block content %}

<h1>Crear un recorrido de evacuación</h1>
<form class="form-user" action="{{ url_for('recorrido_create') }}" method="POST" id="id-recorrido-form">
    <h4 style="color: rgb(214, 3, 3);">{{error_message}}</h4>
    <p>
        <label>Nombre<label></br>
        <input name="nombre" placeholder="Nombre"/>
    </p>
    <p>
        <label>Descripción<label></br>
        <input name="descripcion" placeholder="descripción"/>
    </p>
    <p>
        <label>Coordenadas<label></br>
        <input name="coordenadas" placeholder="'x,y'" pattern="\d+,\d+"/>
    </p>
    <p>
        <label>Estado<label></br>
        <select name='estado'>
            <option value=1>Publicado</option>
            <option value=0>Despublicado</option>
        </select>
    </p>
    <input type="text" name="lat" id = "lat" >
    <input type="text" name="lng" id = "lng" >
    
    <div id='mapid' style='width: 100%; height:530px;'></div>
    <input type="submit" value="Crear">
    <button type="reset">Limpiar</button>
    </p>
</form>
<a href="{{ url_for('recorrido_index') }}" class="btn btn-outline-dark" style="width: 100px;
height: 50px;">Volver</a>

<!-- en los siguientes scrips puedo crear mapas cualquieras-->
<!-- <script type="text/javascript">

    // This setup the leafmap object by linking the map() method to the map id (in <div> html element)
        var map = L.map('map').
       setView([-34.9187, -57.956],
       15);

    // Start adding controls as follow... L.controlName().addTo(map);

    // Control 1: This add the OpenStreetMap background tile
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


    // Control 2: This add a scale to the map
        L.control.scale().addTo(map);
        
    // Control 3: This add a Search bar
        var searchControl = new L.esri.Controls.Geosearch().addTo(map);

        var results = new L.LayerGroup().addTo(map);

          searchControl.on('results', function(data){
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
              results.addLayer(L.marker(data.results[i].latlng));
            }
          });
        
</script> -->
<!-- // <script>
    var map = L.map('map').
       setView([-34.9187, -57.956],
       15);
       L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
maxZoom: 18
}).addTo(map);
L.control.scale().addTo(map);
L.marker([-34.9187, -57.956],{draggable: true}).addTo(map).on('click', function(e) {
    console.log(e.latlng);
});
//   </script> -->
{% endblock %}