{% extends "layout.html" %}
{% block title %}Usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form class="form-user"action="{{ url_for('user_edit', user_id=user.id) }}" method="POST">
    <h2 style="display: flex; justify-content: center;">Editar un usuario</h2>
    <p>
      <label>Email <label></br>
      <input type="email" name="email" required value="{{user.email}}"/>
    </p>
    <p>
      <label>Nombre de usuario <label></br>
      <input type="text" name="username" required value="{{user.username}}"/>
    </p>
    <p>
      <label>Nombre <label></br>
      <input type="text" name="first_name" required value="{{user.first_name}}"/>
    </p>
    <p>
      <label>Apellido <label></br>
      <input type="text" name="last_name" required value="{{user.last_name}}"/>
    </p>
    <p>
    <label>Roles<label></br>
    <select type="roles" name="roles[]" size="2" multiple>
      {% for rol in roles%}
        {% if rol in user.roles %}
          <option selected value={{rol.id}} >{{rol.name}}</option>
        {% else %}
          <option value={{rol.id}} >{{rol.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
    </p>
    <p>
      {% if user.bloqueado == True %}
        <label>Usuario Bloqueado, (presione para desbloquearlo) <label>
      {% else %}
        <label>Usuario no Bloqueado, (presione para bloquearlo) <label>
      {% endif %}
        <input type="checkbox"  value="True" name="bloqueado"/>
    </p>
    <p>
      <input type="submit" value="Actualizar">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}