{% extends "layout.html" %}
{% block title %}Usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar un usuario</h1>
  <form action="{{ url_for('user_edit', user_id=user.id) }}" method="POST">
    <p>
      <label>Email <label></br>
      <input name="email" required value="{{user.email}}"/>
    </p>
    <p>
      <label>Nombre de usuario <label></br>
      <input name="username" required value="{{user.username}}"/>
    </p>
    <p>
      <label>Nombre <label></br>
      <input name="first_name" required value="{{user.first_name}}"/>
    </p>
    <p>
      <label>Apellido <label></br>
      <input name="last_name" required value="{{user.last_name}}"/>
    </p>
    <p>
      {% if user.bloqueado == True %}
        <label>Usuario Bloqueado, (presione para desbloquearlo) <label>
        <input type="checkbox"  name="bloqueado" />
      {% else %}
        <label>Usuario no Bloqueado, (presione para bloquearlo) <label>
        <input type="checkbox"  name="bloqueado" />
      {% endif %}
    </p>
    <p>
      <input type="submit" value="Actualizar">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}