{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form class="form-user"action="{{ url_for('user_create') }}" method="POST">
    <h2 style="display: flex; justify-content: center;">Crear un usuario</h2>
    <p>
      <label>Email<label></br>
      <input type="email" name="email"required placeholder="Correo"/>
    </p>
    <p>
      <label>Nombre de usuario<label></br>
      <input type="text" name="username"required placeholder="Nombre de usuario"/>
    </p>
    <p>
      <label>Clave<label></br>
      <input type="password" required name="password" placeholder="Clave"/>
    </p>
    <p>
      <label>Nombre<label></br>
      <input type="text" name="first_name" required placeholder="Nombre"/>
    </p>
    <p>
      <label>Apellido<label></br>
      <input type="text" name="last_name" required placeholder="Apellido"/>
    </p>
    <p>
    <label>Roles<label></br>
    <select type="roles" name="roles[]" size="2" multiple>
      {% for rol in roles%}
        <option value={{rol.id}} >{{rol.name}}</option>
      {% endfor %}
    </select>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
