{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form class="form-denuncia"action="{{ url_for('denuncia_create') }}" method="POST">
    <h2 style="display: flex; justify-content: center;">Crear una denuncia</h2>
    <p>
      <label>Titulo<label></br>
      <input type="text" name="titulo"required placeholder="Titulo"/>
    </p>
    <p>
      <label>Descripcion<label></br>
      <input type="text" required name="descripcion" placeholder="Descripcion"/>
    </p>
    <p>
      <label>Coordenadas<label></br>
      <input type="text" name="coordenadas" required placeholder="Coordenadas"/>
    </p>
    <p>
      <label>Apellido Denunciante<label></br>
      <input type="text" name="apellido_denunciante" required placeholder="Apellido denunciante"/>
    </p>
    <p>
      <label>Nombre Denunciante<label></br>
      <input type="text" name="nombre_denunciante" required placeholder="Nombre denunciante"/>
    </p>
    <p>
      <label>Telefono Denunciante<label></br>
      <input type="text" name="telefono_denunciante" required placeholder="Telefono denunciante"/>
    </p>
    <p>
      <label>Email Denunciante<label></br>
      <input type="email" name="email_denunciante" required placeholder="Email denunciante"/>
    </p>
    <p>
    <label>Categoria<label></br>
    <select name="categoria">
      <option value="Urgente">Urgente</option>
      <option value="Advertencia">Advertencia</option>
      <option value="Poco probable">Poco probable</option>
    </select>
    </p>
    <br>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
{% endblock %}