{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Configuración del sistema</h1>
  <form action="{{ url_for('configurado') }}" method="POST">
    <p>
      <label>Elementos por página <label></br>
      <input type = "number" name="numero" placeholder="Numero"/>
    </p>
    <p>
      <label>Criterio de ordenación <label></br>
      <select name='category_id'>
        <option value='1'> email</option>
        <option value='2'> nombre</option>
      </select>
    </p>
    <p>
      <label>Paleta de color privada <label></br>
      <select name='status_id'>
        <option value='1'> Rojo</option>
        <option value='2'> Azul</option>
        <option value='3'> Blanco</option>
      </select>
    </p>
    <p>
      <label>Paleta de color pública <label></br>
      <select name='color_id'>
        <option value='1'> Rojo</option>
        <option value='2'> Azul</option>
        <option value='3'> Blanco</option>
      </select>
    </p>
    <p>
      <input type="submit" value="Aceptar">
      
    </p>
  </form>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}

